In [47]:
pip install mysql-connector-python #install the connector package

Requirement already satisfied: mysql-connector-python in c:\users\aniwa\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\aniwa\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [80]:
import mysql.connector
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Onajourney123#",
  database="db3" #must have this expression to enable whatever action wriiten to taake effect on the specified db
)
mycursor = db.cursor()
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001CD7066E1D0>

# 1. How much is the total donation?

In [53]:
mycursor.execute("SELECT  sum(donation) FROM donation_data")
total_donations = mycursor.fetchall()

print(total_donations)

[(Decimal('249085'),)]

# 2. What is the total donation by Gender?

In [54]:
mycursor.execute("SELECT gender, sum(donation) FROM donation_data GROUP BY gender")
donationbygender = mycursor.fetchall()
print(donationbygender)

[('Male', Decimal('127628')), ('Female', Decimal('121457'))]

# 3. Show the total donation and number of donations by Gender

In [56]:
mycursor.execute("SELECT gender, count(donation), sum(donation) FROM donation_data GROUP BY gender")
donationcounterandsum = mycursor.fetchall()
print(donationcounterandsum)

[('Male', 492, Decimal('127628')), ('Female', 508, Decimal('121457'))]

# 4. Total donation made by frequency of donation

In [58]:
mycursor.execute("SELECT donation_data.donation, donor_data.donation_frequency FROM donation_data JOIN donor_data ON donation_data.id = donor_data.id")
donationfreq = mycursor.fetchall()
print(donationfreq)

[(28, 'Daily'), (292, 'Yearly')]

# 5. Total donation and number of donation by Job field

In [63]:
mycursor.execute("SELECT job_field, count(donation), sum(donation) FROM donation_data GROUP BY job_field")
donationnumberandtotal = mycursor.fetchall()
for x in donationnumberandtotal:
    print(x)

('Human Resources', 93, Decimal('23060'))
('Engineering', 93, Decimal('21968'))
('Sales', 83, Decimal('19009'))
('Business Development', 94, Decimal('22266'))
('Legal', 66, Decimal('17309'))
('Marketing', 74, Decimal('18255'))
('Services', 80, Decimal('19858'))
('Accounting', 80, Decimal('20504'))
('Research and Development', 84, Decimal('22862'))
('Training', 84, Decimal('21721'))
('Support', 79, Decimal('19475'))
('Product Management', 90, Decimal('22798'))

# 6. Total donation and number of donations above 200USD

In [67]:
mycursor.execute("SELECT sum(donation), count(donation) FROM donation_data WHERE donation > 200")
donationabove200 = mycursor.fetchall()
print(donationabove200)

[(Decimal('205892'), 586)]

# 7. Total donation and number of donations below 200USD

In [68]:
mycursor.execute("SELECT sum(donation), count(donation) FROM donation_data WHERE donation < 200")
donationbelow200 = mycursor.fetchall()
print(donationbelow200)

[(Decimal('42593'), 411)]

# 8. Which top 10 states contributes the highest donations

In [75]:
mycursor.execute("SELECT state, sum(donation) FROM donation_data GROUP BY state ORDER BY sum(donation) DESC LIMIT 10")
donationbystate = mycursor.fetchall()
for x in donationbystate:
    print(x)

('California', Decimal('30264'))
('Texas', Decimal('24097'))
('Florida', Decimal('20562'))
('New York', Decimal('14759'))
('Virginia', Decimal('10750'))
('Illinois', Decimal('8674'))
('District of Columbia', Decimal('8376'))
('Tennessee', Decimal('8316'))
('Georgia', Decimal('8046'))
('Ohio', Decimal('6876'))

# 9. Which top 10 states contributes the least donations

In [85]:
mycursor.execute("SELECT state, sum(donation) FROM donation_data GROUP BY state ORDER BY sum(donation) ASC LIMIT 10")
least10donations = mycursor.fetchall()
for x in least10donations:
    print(x)

('Wyoming', Decimal('232'))
('Maine', Decimal('258'))
('South Dakota', Decimal('401'))
('North Dakota', Decimal('651'))
('Alaska', Decimal('734'))
('West Virginia', Decimal('793'))
('South Carolina', Decimal('819'))
('New Hampshire', Decimal('841'))
('Hawaii', Decimal('875'))
('Montana', Decimal('1009'))